* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: url("fire-flame-with-sparkle-black-background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box {
    background: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10 0px;
    width: 400px;
    border: 2px solid red;
    padding: 10px 20px;
    box-shadow: 0px 0 10px red;
}

.box #myh1 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: rgb(253, 40, 40);
}

.box #guess {
    height: 30px;
    border-radius: 10px;
    background: transparent;
    padding: 0 5px;
    border: 2px rgb(255, 71, 71) solid;
    box-shadow: 0px 0 2px plum;
    transition: 0.5s;

}

.box #guess:hover {
    border: 2px rgb(255, 149, 149) solid;

}

.box #guess::placeholder{
    padding: 0 5px;
    color: rgb(251, 156, 156);
}

.box #submit {
    border-radius: 10px;
    margin: 10px 30px;
    height: 30px;
    background: rgb(255, 71, 71);
    width: 30%;
    text-align: center;
    transition: 0.5s;
}

.box #submit:hover {
    background: rgb(254, 127, 127);
    transform: scale(1.05);
}

.box #submit i {
    font-size: 20px;
}

.box #result {
    margin: 10px;
    color: red;
    font-size: 1em;
    -webkit-text-stroke: 0.5px black;
}
